body {
  background: #223;
  color: #FFF;
}

.disclaimer {
  font-style: italic;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.prompt {
  opacity: 0;
  width: 100%;
  height: 768px;
  text-align: center;
}

.prompt > span {
  position: relative;
  font-size: 5em;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.adsense {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
}

.arrows {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.arrows > div {
  display: inline-block;
}

.arrow {
  display: inline-block;
  background-size: 100%;
}

.arrow, .prompt{
  position: absolute;
}

.left-arrow {
  opacity: 0;
  background-image: url('../images/left.png');
}

.right-arrow {
  opacity: 0;
  background-image: url('../images/right.png');
}

.arrows, .arrow {
  width: 768px;
  height: 768px;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .arrows, .arrow {
    width: 700px;
    height: 700px;
  }

  .prompt > span {
    font-size: 4em;
    height: 700px;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .arrows, .arrow {
    width: 300px;
    height: 300px;
  }

  .prompt > span {
    font-size: 2em;
    height: 300px;
  }
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .arrows, .arrow {
    width: 400px;
    height: 400px;
  }

  .prompt > span {
    font-size: 3em;
    height: 400px;
  }
}
