body {
  background: #000000;
  color: #FFF;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.arrows {
  position: relative;
  height: 768px;
  left: -384px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.arrow {
  position: absolute;
  width: 768px;
  height: 768px;
  display: inline-block;
  margin: auto;
  background-size: 100%;
}

.left-arrow {
  background-image: url('../images/left.png');
}

.right-arrow {
  background-image: url('../images/right.png');
}

.hidden {
  display: none;
}
